* {
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-image: url('../Assets/signuppage.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Set a fallback font family */
}
 
.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#game-container {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.letter {
    position: absolute;
    font-size: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fall linear forwards;
    border-radius: 50%;
}
 
#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    z-index: 3;
    color: white;
}
 
@keyframes fall {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}
 
.burst {
    animation: burst 0.5s forwards;
}
 
/* Result Display Styles */
#result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
 
#result-text {
    margin-top: 20px;
}
 
.correct {
    color: green;
    font-weight: bold;
}
 
.wrong {
    color: red;
    font-weight: bold;
}
 
.missed {
    color: orange;
    font-weight: bold;
}
 
/* Difficulty Selection Styles */
#difficulty-selection {
    text-align: center;
    margin-bottom: 20px;
}
 
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}
 
.btn-primary:hover {
    background-color: #0069d9;
    color: #fff;
}
 
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
 